* {
  box-sizing: border-box;
}

body {
    font-family: 'Raleway';
    padding-left: 2%;
    padding-right: 2%;
  }

a {
    text-decoration: none;
    cursor: pointer;
  }


p span {
    font-weight: bold;
  }
 
#logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

#logo img {
  width: 61.09px;
  height: 19px;
}

#logo nav {
    display: flex;
    justify-content: flex-end;
    flex-basis: 100%;
    
}

#logo nav ul {
    display: flex;
    flex-direction: row;
    flex-basis: 30%;
    justify-content: space-evenly;
    list-style-type:none;
    font-weight: 400;
    font-size: 16px;
  }



  .menuItem:hover {
    border-top: 1px solid blue;
  }

.menuItem {
  padding-top: 23px;
}

#search form {
    display: flex;
    align-items: center;
  }

#subject{
  display: flex;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  height: 50px;
  width: 332px;
  padding: 0px;

}

#subject::placeholder {
  color: black;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  font-family: 'Raleway';
  font-weight: bold;
}

#search > form {
  height: 49px;
}

#searchButton{
  display: flex;
  height: 106%;
  width: 132px;
  background: #0065FC;
  border: 1px solid #0065FC;
  border-radius: 0px 15px 15px 0px;
  align-items: center;
  color: #FFFFFF;
  justify-content: center;
  font-family: 'Raleway';
  font-weight: bold;
}

#searchButton > h2 {
  display: flex;
  color: #FFFFFF;
}

#loc {
  height: 106%;
  width: 50px;
  display: flex;
  background: #F2F2F2;
  border: 1px solid #F2F2F2;
  border-radius: 15px 0px 0px 15px;
  align-items: center;
  justify-content: space-around;
}

i.fa-location-dot {
  display: flex;
  box-sizing: border-box;
  border: 1px solid #D9D9D9;
  border-radius: 15px 0px 0px 15px;
}

#filtre {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#filtre h3 {
  font-size: 17px;
  font-family: 'Raleway';
}

#filtre ul {
  display: flex;
    justify-content: space-evenly;
    flex-basis: 70%;
    list-style: none;
    padding: 0;
}

#filtre  button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  background: white;
  border: 2px solid #D9D9D9;
  border-radius: 25px;
  max-height: 50px;
}

#filtre button:hover {
  background: #DEEBFF;
}

#filtre i {
  color: blue;
}

#eco {
  min-width: 180px;
}

#family {
  min-width: 120px;
}

#heart {
  min-width: 180px;
}
/* */
#dog {
  display: flex;
  min-width: 226px;
}

#dispo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

i.fa-info {
  display: flex;
  border-radius: 60px;
  box-shadow: 0 0 2px #888;
  height: 24px;
  width: 24px;
  color: #0065FC;
  align-items: center;
  justify-content: space-evenly;
}

#dispo > h4 {
  padding-left: 10px;
}

#mainBlock {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

i.fa-star {
  color: #0065FC;
}

i.fa-regular {
  color: #F2F2F2;
}

#lodging {
  display: flex;
  flex-direction: column;
  background-color:  #F2F2F2;
  width: 67%;
  justify-content: space-evenly;
  align-content: flex-start;
  border-radius: 20px;
  padding: 0 53px;
}

.vignette {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#lodging h2 {
  background-color:  #F2F2F2;
  display: flex;
  flex-basis: 100%;
}

#lodging  h3 {
  font-size: 16px;
}

#lodging p {
  font-size: 14px;
  color: black;
}

.description {
  margin-left: 6px;
  margin-top: 0px;
  margin-bottom: 0px;
}


.vignette > a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 31%;
  border-radius: 20px;
  max-height: 30%;
  margin-bottom: 30px;
  box-shadow: black;
}

.vignette > a > article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  border: 5px solid #FFFFFF;
  border-radius: 20px 20px 20px 20px;
  filter: drop-shadow(1px 2px 4px grey);
  color: black;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 10px;
}


.vignette > a > article > img {
  border: 5px solid #FFFFFF;
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
  height: 124px;
  object-fit: cover;
}

#plus {
  margin-bottom: 31px;
}

#plus  p {
  color: black;
  font-size: 18px;
}

#popular {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color:  #F2F2F2;
  border-radius: 20px;
}

#popularHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#popularHeader > h2 {
  margin-left: 13%;
  flex-basis: 100%;
}

#popular h3 {
  margin-bottom: 0%;
}

#vignettePop {
  margin-left: 13%;
  display: flex;
  flex-direction: column;
  margin-right: 13%;
}

#vignettePop > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  margin-top: 30px;
  filter: drop-shadow(1px 2px 4px grey);
}

#vignettePop > a > article {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: black;
}

#vignettePop > a > article > div {
  display: flex;
  flex-direction: column;
}

#vignettePop  > a > article > img {
  border: 5px solid #FFFFFF;
  border-radius: 20px 0px 0px 20px;
  width: 137px;
  height: 144px;
  object-fit: cover;
  align-self: center;
}

i.fa-chart-line {
  color: #0065FC;
  margin-right: 13%;
  font-size: 21px;
}

#thirdBox {
  display: flex;
  flex-flow: column ;
}

#actVignette > article > * {
  display: flex;
  flex-direction: column;
}

#actVignette {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#actVignette > article {
  background-color: white;
  border: 5px solid #FFFFFF;
  border-radius: 20px 20px 20px 20px;
  filter: drop-shadow(1px 2px 4px grey);
  max-width: 22%;
}

#actVignette > article > h3 {
  padding-left: 10px;
}

#actVignette a {
  width: 100%;
}

#actVignette > article > a > img {
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
  height: 389px;
  object-fit: cover;
}

footer {
  background-color: #F2F2F2;
  display: flex;
  flex-flow: row;
  max-width: 100%;
  flex-basis: 100%;
  justify-content: space-around;
  margin-top: 40px;
}

footer > h2 {
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
}

footer section ul {
  list-style-type:none;
  margin-left: -18%;
}

footer section ul li a {
  text-decoration : none;
  
}